<div class="card-product">
  <img src=" <%= player.image_url %>" />
  <div class="card-product-infos">
    <h1><%= player.name %></p>
    <p>Minimum Bet</p>
    <button type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="<%#= modal %>">
      Launch demo modal
    </button>

  </div>
</div>
