  <ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tabs-underlined active">T</a>
  </li>
  <li>
    <a href="#" class="tabs-underlined">R</a>
  </li>
  <li>
    <a href="#" class="tabs-underlined">R</a>
  </li>
  <li>
    <a href="#" class="tabs-underlined">C</a>
  </li>
</ul>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url(https://images-na.ssl-images-amazon.com/images/I/91gD5aTWgML._SX466_.jpg)">
</div>



