.form-group.string.optional.league_name {
  display: inline-flex;
  margin-top: 20px;
  margin-left: 10px;
 }

.form-control.string.optional{
  width: 250px;
  margin-left: 20px;
  margin-top: -5px;
}

.width-max {
  margin-top: 30px;
  text-align: center;
}

.btn.btn-primarycenter {
  color: #fff;
  background-color: #167FFB;
  border-color: #167FFB;
}
