.league-name {
  color: #1B3444;
  text-align: center;
  font-weight: bold;
}

.form-group.string.optional.league_name {
  display: inline-flex;
  margin-top: 20px;
  margin-left: 10px;
 }

.form-control.string.optional{
  width: 250px;
  margin-left: 20px;
  margin-top: -5px;
}

.cards-user {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-gap: 16px;
  margin: 10px 10px 30px 10px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#f0e6d2 ;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.width-max {
  margin-top: 30px;
  text-align: center;
}

.sub-container {
  text-align: center;
}

.sub-container p {
  margin-top: -20px;
  margin-bottom: 0px;
  color:#1B3444;
}

.buttons-show {
  display:flex;
  flex-direction: row-reverse;
  margin-top: 10px;
  justify-content: space-around;
}

.btn.btn-small-blue{
  padding: 2px 5px;
  margin-bottom: 4px;
  background-color:#1F3A6F;
  border-color: #1F3A6F;
  color: #f0e6d2;
}

.btn.btn-small-blue2{
  background-color:#1F3A6F;
  border-color: #1F3A6F;
  color: #f0e6d2;
}

.btn.btn-center-red {
  background-color: #DF4D64;
  border-color: #DF4D64;
  width: 140px;
  font-weight: bold;
  color: #f0e6d2;
}

.btn.btn-invite-red {
  background-color: #DF4D64;
  border-color: #DF4D64;
  width: 250px;
  font-weight: bold;
  color: #f0e6d2;
}

form {
  margin-bottom:4px;
}

.sub-container ul {
  list-style-type: none;
  margin-top: -5px;
  margin-bottom: 6px;
  padding: 0px;
}

.form-control {
  width: 96px;
}
