.card-formplayer {
  .form-check-label {
    width: 100%;
    display: inline-block;
  }
}

.list-of-players legend {
  display: none;
}

.form-check {
  padding: 0px;
  margin: 1px 0px;
  width:100%;
}

.bid-button {
  padding: 2px 5px;
  margin-bottom: 18px;
  color:#f0e6d2;
  border: 2px solid rgba(192,252,253,.7);
  background-color:#23262D;
}

.list-of-players .card-product {
  height: 45px;
  border-radius: 3px;
  width: 56vh;
  margin-left: 0.5px;
}

.card-product .card-product-infos {
  padding: 12px;
  display: flex;
  margin-bottom: -7px;
}

.card-product .card-product-infos h3 {
  font-size: 17px;
}

.list-of-players p {
  margin-top: 4px;
}

.description-list {
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  height: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white;
}

.full-width {
  margin-bottom: 1px;
}
