  <ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "", team_path , class: "fas fa-street-view tabs-underlined active" %>
  </li>
  <li>
    <%= link_to "", team_path , class: "fas fa-spinner tabs-underlined" %>
  </li>
  <li>
    <%= link_to "", team_path , class: "fas fa-stream tabs-underlined" %>
  </li>
  <li>
    <%= link_to "", team_path , class: "fas fa-headset tabs-underlined" %>
  </li>
</ul>
