<% unless current_page?(root_path) || current_page?(leagues_path) || current_page?(new_user_session_path) %>
  <div class="footer">
    <ul class="list-inline tabs-underlined">
      <li class="tabs-btn" id="team">
        <%= link_to "", "" , class: "fas fa-street-view tabs-underlined active", 'data-target': "team-tabs" %>
      </li>
      <li class="tabs-btn" id="results">
        <%= link_to "", "" , class: "fas fa-list-ol tabs-underlined" %>
      </li>
      <li  class="tabs-btn" id="leaderboard">
        <%= link_to "", "" , class: "fas fa-trophy tabs-underlined", 'data-target': ""%>
      </li>
    </ul>
  </div>
<% end %>
