<div class="round_container shadow-sm p-2 py-4 rounded">
  <div class="container my-5 round_board">
    <div class="row shadow-sm" id="first_row">
      <div class="col team_id"></div>
      <div class="col">Teams</div>
      <div class="col">Pts</div>
      <div class="col">Challenges</div>
      <div class="col team_id">V</div>
      <div class="col team_id">N</div>
      <div class="col team_id">D</div>
    </div>
    <div class="row">
      <div class="col team_id">1</div>
      <div class="col">Team 1</div>
      <div class="col">16</div>
      <div class="col">6</div>
      <div class="col team_id">6</div>
      <div class="col team_id">0</div>
    </div>
    <div class="row">
      <div class="col team_id">2</div>
      <div class="col">Team 2</div>
      <div class="col">16</div>
      <div class="col">6</div>
      <div class="col team_id">6</div>
      <div class="col team_id">0</div>
    </div>
    <div class="row">
      <div class="col team_id">3</div>
      <div class="col">Team 3</div>
      <div class="col">16</div>
      <div class="col">6</div>
      <div class="col team_id">6</div>
      <div class="col team_id">0</div>
    </div>
    <div class="row">
      <div class="col team_id">4</div>
      <div class="col">Team 4</div>
      <div class="col">16</div>
      <div class="col">6</div>
      <div class="col team_id">6</div>
      <div class="col team_id">0</div>
    </div>
    <div class="row">
      <div class="col team_id">5</div>
      <div class="col">Team 5</div>
      <div class="col">16</div>
      <div class="col">6</div>
      <div class="col team_id">6</div>
      <div class="col team_id">0</div>
    </div>
    <div class="row">
      <div class="col team_id">6</div>
      <div class="col">Team 6</div>
      <div class="col">16</div>
      <div class="col">6</div>
      <div class="col team_id">6</div>
      <div class="col team_id">0</div>
    </div>
  </div>
</div>
