<div class=body>

    <%= link_to leagues_path do %>
  <div class="home-container">
    <div class="home-logo">
    <%= image_tag "logomel.png" %>
    </div>
    <div class="home-phrase">
      <h3 style="font-weight:500">Create the ultimate Esport Team </h3>
    </div>
    <div class="call-to-a">
      <h3 style="margin-top: 32px; font-size: 26px; color:black;">Start!</h3>

    </div>
  </div>
  <% end %>
</div>





