<div class=body>

  <%= link_to leagues_path do %>
    <div class="card-categoryhome" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://img.phonandroid.com/2019/05/league-of-legends-mobile.jpg)">
    </div>
  <% end %>

  <div class="card-categoryhome" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.6)), url(http://image.jeuxvideo.com/medias-md/153573/1535728452-9770-card.jpg)">
    <%= link_to "Coming soon", "#", class: "btn btn-dangerhome2" %>
  </div>

  <div class="card-categoryhome" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.6)), url(https://www.hrkgame.com/media/games/.thumbnails/Overwatch.png/Overwatch-460x215.png)">
    <%= link_to "Coming soon", "#", class: "btn btn-dangerhome2" %>
  </div>

</div>
