<div class=body>
  <%= link_to leagues_path do %>
    <div class="card-categoryhome" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url(https://img.phonandroid.com/2019/05/league-of-legends-mobile.jpg)">
    <p> Play now </p>
    </div>
  <% end %>
  <div class="card-categoryhome" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(https://www.hrkgame.com/media/games/.thumbnails/Overwatch.png/Overwatch-460x215.png)">
    <p> Coming Soon </p>
  </div>
  <div class="card-categoryhome" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(https://i.pinimg.com/564x/4b/4b/81/4b4b81c1a5084e8406e93fda8f7313fe.jpg)">
    <p> Coming Soon </p>
  </div>
</div>
