<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url(https://img.phonandroid.com/2019/05/league-of-legends-mobile.jpg)">
  <%= link_to "Start now", "league_path", class: "btn btn-dangerhome" %>
</div>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url(https://static.papergeek.fr/2016/07/comment-jouer-a-counterstrike-en-ligne-gratuitement-sans-telechargement.jpg)">
  <%= link_to "Coming soon", "#", class: "btn btn-dangerhome2" %>
</div>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url(https://www.hrkgame.com/media/games/.thumbnails/Overwatch.png/Overwatch-460x215.png)">
  <%= link_to "Coming soon", "#", class: "btn btn-dangerhome2" %>
</div>
