.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 90px !important;
  height: 90px !important;
  border-radius: 50% !important;
  margin: 10px 5px 10px 5px !important;
  background-size: cover;
  background-position: center;
}

.team-avatar-large {
  width: 50px;
  border-radius: 50%;
  margin: 10px 5px 10px 5px;
}

.team-avatar-smaller {
  width: 37px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
