.board {
  background-color: #1F3A6F;
  height: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board-show-league {
  background-color: #1F3A6F;
  height: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.board-show-league h3 a.fas.fa-chevron-left {
  color: white;
  margin-top: 80px;
  font-size: 16px;
  margin-left: 10px;
  font-weight: bold;
}

.board-bottom-create-league {
  background-color: #1F3A6F;
  height: 136px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board-bottom-create-league p {
  color: white;
  font-weight: bold;
  font-size: 20px;
  align-self: center;
  margin-top: -15px;
}


.board-index-league {
  background-color: #1F3A6F;
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2px;
}

.board-show {
  background-color: #1F3A6F;
  height: 130px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
}

.board h1 {
  color: white;
  font-weight: bold;
  font-size: 25px;
  align-self: center;
  padding-top: 68px;
}

.board h3 {
  color: white;
  font-weight: bold;
  font-size: 15px;
  align-self: center;;
}

.board-show h1 {
  color: white;
  font-weight: bold;
  font-size: 25px;
  align-self: center;
  padding-top: 60px;
}

.board-show h3 {
  color: white;
  font-weight: bold;
  font-size: 13px;
  align-self: center;;
}

.board-show-league h1 {
  color: white;
  font-weight: bold;
  font-size: 25px;
  align-self: center;
  padding-top: -66px;
  margin-top: -38px;
}
