// .mapimg {
//   border-radius: 15px;
//   background-size: cover;
//   background-position: center;
//   height: 322px;
//   justify-content: center;
//   align-items: center;
//   display: flex;
//   }

.map {
  border-radius: 7px;
  background-size: cover;
  background: image-url('lolmap.png');
  height: 322px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  position: relative;
}

.map img {
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.map .top-map {
  // width: 30px;
  // height: 30px;
  position: absolute;
  top: 2.6em;
  right: 18.4em;
  border-radius: 30px;
  border-style: solid;
  border-width: thin;
  border-color: white;
  background-color: white;
}
.map .jun-map {
  // width: 30px;
  // height: 30px;
  position: absolute;
  top: 6em;
  right: 14.2em;
  border-radius: 30px;
  border-style: solid;
  border-width: thin;
  border-color: white;
  background-color: white;
}
.map .mid-map {
  // width: 30px;
  // height: 30px;
  position: absolute;
  top: 9em;
  right: 10.3em;
  border-radius: 30px;
  border-style: solid;
  border-width: thin;
  border-color: white;
  background-color: white;
}
.map .adc-map {
  // width: 30px;
  // height: 30px;
  position: absolute;
  top: 15.6em;
  right: 2.0em;
  border-radius: 30px;
  border-style: solid;
  border-width: thin;
  border-color: white;
  background-color: white;
}
.map .sup-map {
  // width: 30px;
  // height: 30px;
  position: absolute;
  top: 16.9em;
  right: 4.5em;
  border-radius: 30px;
  border-style: solid;
  border-width: thin;
  border-color: white;
  background-color: white;
}
.map .all-map {
  // width: 30px;
  // height: 30px;
  position: absolute;
  top: 17em;
  right: 20.2em;
  border-radius: 30px;
  border-style: solid;
  border-width: thin;
  border-color: white;
  background-color: white;

}
