.map {
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  height: 322px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  }

#top {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 7.5em;
  right: 18em;
}

#jungle {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10.3em;
  right: 14.5em;
}

#mid {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 14em;
  right: 10em;
}

#adc {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20em;
  right: 2em;
}

#support {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 21.3em;
  right: 5em;
}

#all {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 21.5em;
  right: 20em;
}
