.map {
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  height: 322px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  }

#button1 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 9.5em;
  right: 18em;
}

#button2 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 12.8em;
  right: 14.5em;
}

#button3 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 16em;
  right: 10.3em;
}

#button4 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 22.5em;
  right: 2.1em;
}

#button5 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 24em;
  right: 5.5em;
}

#button6 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 24em;
  right: 20em;
}
