#createteamModal .modal-content {
  border-radius: 5px;
  background-color: #F0E6D2;;
}

#createleagueModal .modal-content {
  border-radius: 5px;
  background-color: #F0E6D2;;
}

.modal-header {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.modal-title {
  font-weight: bold;
}
.btn.btn-center-blue {
  margin-left : 100px;
  color: white;
  background-color: #1F3A6F;
  border-color: #1F3A6F;
  width: 140px;
  font-weight: bold;
}
#createteamModal .modal-dialog {
  margin-top: 65vh;
}
#createleagueModal .modal-dialog {
  margin-top: 65vh;
}
