.modal-content {
  border-radius: 5px;
  background-color: #f8f8f8;
}

.modal-header {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.modal-title {
  font-weight: bold;
}

.btn.btn-successcenter {
  margin-left : 100px;
  color: #fff;
  background-color: #1EDD88;
  border-color: #1EDD88;
  width: 140px;
}

#createleagueModal .modal-dialog {
  margin-top: 67vh;
}
