#createteamModal .modal-content {
  border-radius: 5px;
  background-color: white;;
}

#createleagueModal .modal-content {
  border-radius: 5px;
  background-color: white;;
}

.modal-header {
  box-shadow: 0 0 7px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.modal-title {
  font-weight: bold;
}
.btn.btn-center-blue {
  margin-left : 100px;
  color: white;
  background-color: #1F3A6F;
  border-color: #1F3A6F;
  width: 140px;
  font-weight: bold;
}
#createteamModal .modal-dialog {
  margin-top: 45vh;
}
#createleagueModal .modal-dialog {
  margin-top: 55vh;
}
