.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-bottom: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.fas.fa-sign-out-alt {
  color: black;
}

.nav-link {
  color: black;
}
