.modal-content-player {
  border-radius: 5px;
  background-color: #1f3a6fb0;
}

.close span#close-cross {
  margin-right: 10px;
  color:white;
}

.modal-content-player .card-player {
  background-color: white;
}

.modal-content-player .modal-footer {
  background-color: white;
  border-radius: 5px;
}

.card-player {
  overflow: hidden;
  // background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 6px;
  color: black;
  // width: 100%;
  opacity: 1;
  transition: all .3s ease;
  margin: 10px 0px 10px 0px;
}


// .card-dog-master :hover {
//   transform: translateY(-2px);
// }

// .card-player > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

.create-bid-button{
  display:none;
}

.card-player h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-player p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.card-player .card-player-infos {
  // padding: 16px;
  // width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin: 15px 0px 15px 0px;
}

.card-player-infos .card-player-team {
  position: absolute;
  right: 5%;
  top: -5%;
  // top: 19px;
  // width: 40px;
}

.card-player-infos .team-avatar {
  width: 42px;
  border-radius: 50%;
  position: absolute;
  right: 7%;
  top: -5%;
}

.card-player-infos #role {
  width: 40px;
  border-radius: 50%;
  position: absolute;
  right: 5%;
  top: 0%;
}




#country {
  font-weight: 30px;
}


// .card-link {
//   position: relative;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
// }

// CAROUSEL

.carousel-stats {
  border-radius: 6px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.carousel-stats h2 {
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
}

.carousel-block {
  width: 50%;
  height: 250px;
  font-weight: bold;
  background-color: #f4f4f4b0;
}

// .carousel-block-season {
//   width: 50%;
//   height: 250px;
//   font-weight: bold;
//   // background-color: #5d799a6b;
//   background-color: #79818aa1;
//   color: #ffffff;
// }

.carousel-block .stats-score {
  height: 60px;
  width: 60px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-block .stats-score p {
  color: #1f3a6f !important;
  opacity: 1 !important;
  font-weight: bold !important;
  font-size: 16px !important;
}

.carousel-block .stats-score .label-score p {
  color: #1f3a6f !important;
  opacity: 1 !important;
  font-weight: bold !important;
  font-size: 16px !important;
}

.btn.btn-small-blue3 {
  background-color: #1F3A6F;
  border-color: #1F3A6F;
  width:130px;
  font-weight: bold;
  color: #f0e6d2;
  margin-top: 15px;
}

// Hover effect

// .card-player:hover {
//   transform: translateY(-10px);
//   transition: all .3s ease;
// }

// .row a:hover {
//   text-decoration: none;
//   opacity: 0.6;
//   transition: all .3s ease;
// }

